
.info:before, .info:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	border-radius: 12px;
	background: linear-gradient(45deg, #fb0094b3, #0000ffb3, #00ff00b3,#ffff00b3, #ff0000b3, #fb0094b3, 
		#0000ffb3, #00ff00b3,#ffff00b3, #ff0000b3);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 200% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.info:after {
	filter: blur(20px);
}